# lombok.config 파일

# 기본 설정
config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true

# 로그 관련 설정
lombok.log.fieldName = log

# ToString 제외 필드 설정
lombok.toString.doNotUseGetters = true

# Equals와 HashCode 설정
lombok.equalsAndHashCode.callSuper = call

## 모든 필드를 final로 만들기
#lombok.fieldDefaults.defaultPrivate = true
#lombok.fieldDefaults.defaultFinal = true

# @NonNull 어노테이션이 붙은 필드만 생성자에 포함
lombok.nonNull.exceptionType = IllegalArgumentException

# @Builder 관련 설정
#lombok.builder.className = Builder

# @Builder 관련 설정
lombok.builder.toBuilder = true


# @RequiredArgsConstructor로 생성자 대신 @Wither 사용
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value